* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#splash-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    transition: opacity 6s ease;
}


#splash-screen.hidden {
    display: none;
}
#splash-screen{
    color:brown;
    font-size: 40px;
}
#main {
    display: none;
    transition: opacity 6s ease;
}
#main.visible {
    display: block;
}
 body, html {
    height: 100%;
}
body{
    background-color: rgb(223, 214, 214); 
    
    
} 
#main{

         width:85%;
         margin:auto;
         background-color: whitesmoke;
         display:block;
         justify-content: center;

         height: auto;
         
}

 #header{
    background-color: white;
    border:1px solid rgb(194, 183, 183);
    height: 120px;
    width: 85%;
    margin-top: 0px;
    display: flex; 
    align-items: center; 
    position: fixed;
    z-index: 1000;
    gap:0px;
}

#box{
    background-color: rgb(4, 4, 150);
    width:150px;
    height: 120px;
    font-family: serif;
}
#header h1 {
    margin: 0;
    padding-left: 2%;
    padding-top: 2%;
    color:white;
    
 }
.info{
    color: black;
    padding:20px;
    font-family: sans-serif;
}


 a
{
    text-decoration: none;
}
.info:hover{
    background-color: rgb(4, 4, 150);;
    color:white;
}
#join{
    height:120px ;
    width: 100px;
    background-color: rgb(4, 4, 150);
    border:1px solid blueviolet;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
#join:hover{
    color: rgb(4, 4, 150);
    border:3px solid rgb(4, 4, 150);
    background-color:white;
}
.content{
    width: 100%;
}
#image{
      width:50% ;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-top:45px;
      padding-bottom: 20px;
}
.text{
      text-align: center;
      padding-top: 10px;
      padding-left: 30px;
      padding-right:30px ;
      
}
#heading{
    border:1px solid gray;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
    box-shadow: 5px 5px 5px 6px lightgray;
    background-color: white;
    font-family:sans-serif ;
    color:rgb(21, 21, 107);
}
#hunger{
    color: royalblue;
}
#para1{
   
    margin-top:20px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#para2{
    color:rgb(13, 29, 119);
    padding-bottom: 20px;
}
.button{
    width: 50%;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 20px;
    gap:30px;
}
#btn1,#btn2{
    background-color: white;
    border:2px solid blue;
    width:150px;
    height: 70px;
    font-weight: 700;
    font-size: 15px;
}
#btn1:hover,#btn2:hover{
    background-color: blue;
    color: white;
    
}
.quote{
    background-color: pink;
    width:70%;
    height: 100px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
.image1 img{
     width:280px;
     margin-top:-350px;
     margin-left:70px;
     height: 250px;
     border:2px solid rgb(82, 41, 48);
}
.space{
    border:14px solid coral;
    padding-top:50px;
    padding-left:80px;
    width:270px;
    height: 300px;

}
.container{
    display:flex;
}
.column1,.column2{
    width: 50%;
    padding:40px;
}
.column1
{
    border-right: 2px solid rgb(158, 153, 153);
    height: 400px;
}
#heading1{
    font-size: 40px;
    color:#0578e4;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#para3{
    font-size: 20px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#button2 {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  #button2{
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  }
  
  #button2:after {
    content: '»';
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #button2:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  #button2:hover:after {
    opacity: 1;
    right: 10px;
  }
  .icons{
    width:100%;
    background-color: rgb(171, 194, 190);
    height: 300px;
  }
  #icon1 i,#icon2 i,#icon3 i{
   font-size: 120px;
   width: 25%;
   height: auto;
  margin-top: 20px;
   margin-left: 60px;
  text-align: center;
  }
  .icon-text{
    display: flex;
    
  }
  #icon-text1,#icon-text2,#icon-text3{
        width: 30%;
        margin-top: 20px;
        padding-left: 120px;
        font-family: sans-serif;
        color:blue;
        font-size:20px;
  }
  .paragraph{
    margin-top:30px;
    display: flex;
    padding: 40px;
    gap:40px;
  }
  .paragraph1,.paragraph2{
    width:50%;
  }
  #para4{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(4, 4, 104);
    font-weight:500;
  }
  #para6{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(4, 4, 104);
    font-weight: 400;
  }
  #para5,#para7{
    color: rgb(78, 77, 77);
  }

  .objective{
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   background-color: rgb(236, 59, 89);
   height: 400px;
   align-items: center;
   text-align: center;
  }
.objective1{
    padding-top: 30px;
   
}
#goal1{
    color:rgb(228, 219, 219);
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#goal2{
    color:#fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#goal3{ 
        font-size: 20px;
        color: rgb(230, 215, 215);
}
.objective2 {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    gap: 70px; 
    width: 90%;
    height: 400px; 
    margin-top: -120px;
    margin-left: 50px;
}
.box1 {
    display: block;
    justify-content: center;
    background-color: #f5f8f5; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   
    text-align: center;
    padding-top: 20px;
    padding-left:5px ;
    padding-right: 5px;
    border:1px solid rgb(201, 199, 199);
}
#goal4,#goal5,#goal6,#goal7{
    font-size: 70px;
    padding-bottom: 10px;
}
.font1{
    font-size: 30px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#03315c;
    
}
.font2{
    font-size: 20px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 100, 100);
}
.box1:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
    box-shadow: 30px 30px 20px rgba(15, 15, 15, 0.1);
    border: 2px solid black; 
    .font1{
        color:green;
    
    }
}
.fact{
    display:block;
    margin-top: 100px;
    
}
#facts{
    font-size: 40px;
    color: rgb(28, 28, 124);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    background-color: rgb(248, 159, 127);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
#study{
    padding-left: 50px;
    padding-right: 50px;
    color: #1a3247;
}
#study1{ 
    color:  rgb(104, 100, 100);
    font-size: 20px;
    margin-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px;
}
.grid1,.grid2,.grid3,.grid4{
    width:100%;
    height: 300px;
    background-color: rgb(250, 200, 139);
    padding: 20px;
    text-align: center;

}
.headd{
    font-size:40px;
    text-align: center;
}
.head-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
}

.grid1:hover,.grid2:hover,.grid3:hover,.grid4:hover
{
    background-color: rgb(243, 79, 106);
    color:white;
}
#impact{
    margin-top:40px;
    background-color: rgb(37, 197, 171);
    display:flex;
    width: 100%;
    height: 500px;
    
}
#context{
    height: 460px;
    text-align: center;
    margin-top: 40px;
}
#impact-image img{
     width: 400px;
     height: 400px;
     margin-left: 0px;
     margin-top: 40px;
     object-fit: cover;
}
#context{
    width: 60%;
}
#impact-image{
    width:40%;
}
#impact-head{
    font-size: 40px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#impact-para{
    margin-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    color:white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main-icon{
    display: flex;
    justify-content: center;
   
}
.impact-icon{
    color:white;
    padding:40px;
    font-size: 90px;
    
}
.img-i-text{
    font-size: 20px;
}
#impact-button button{
   font-size: 25px;
   width: 200px;
   height: 50px;
   background-color: rgb(37, 197, 171);
   border:3px solid white;
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#impact-button button:hover{
    background-color: #f5f8f5;
    color: rgb(37, 197, 171);
}
#bar{
    margin-top: 2px;
    padding-top: 30px;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
    background-color: rgb(4, 4, 150);

}
#bar button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(4, 4, 150);
    color: white;
    border: 3px solid white;
}
#bar button:hover{
    background-color: white;
    color: rgb(4, 4, 150);

}
#footer{
    display: block;
    background-color:white;
    width: 100%;
    height: 460px;

}
#foot{
    display: flex;
    background-color: white;
    width: 100%;
    height: 270px; 
    
}
.foot1{
    color: rgb(4, 4, 150);
    margin-top: 70px;
    padding: 20px;
    text-align: left;
    margin-left: 70px;
    padding-top: 10px;
   
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    border-right: 1px solid rgb(194, 187, 187);
    border-top: 10px;
}
#white{
    border-right:1px solid white;
    
}
.foot-content{
    color:rgb(80, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    padding-top: 15px;
    
}
#social-icon a{
    color:rgb(4, 4, 150) ;
}
#social-icon{
    padding-top: 20px;
    margin-left: 40px;
    word-spacing: 20px;
}
.contact-sign{
    margin-top: 20px;

}
.contact-sign button{
    width: 130px;
    height: 40px;
    color: rgb(4, 4, 150);
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border:2px solid rgb(4, 4, 150);
}
.contact-sign button:hover{
    background-color: rgb(4, 4, 150);
    color: white;
}
#hr{
    width: 80%;
    margin: auto;
}
#footer-end{
    padding-top: 30px;
    display: flex;
    margin-left: 30px;
    gap:35%;
}
#footer-icon{
    width: 120px;
    background-color:rgb(250, 139, 3);
    color: black;
    height: 80px;
    text-align: center;
    margin: auto;
    border: 3px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20%;
}
#icon-1{
   margin-left:-60px;
   font-weight: 600;
   color:#66f05a;
   text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
   font-size: 18px;
}
#icon-3{
    margin-right: -41px;
    font-size: 18px;
    color:#fff2d9;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
}
#icon-2{
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
    font-size: 25px;
}
#footer-content{
    margin-top: 70px;
    color: #1a354d;
    font-size: 17px;

}
#footer-content a{
    color: #1a354d;
    
}
#footer-icon{
    animation: bouncing 0.5s ease 0s infinite alternate both;
    
    position: relative;
   
}
@keyframes bouncing{
  
     0%{
        bottom: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     }
    100%{
        bottom: 30px;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
     }
} 

/* Responsive design for smaller screens */

@media (max-width: 1200px) {
    #main {
        width: 90%;
    }

    #header {
        width: 90%;
    }

    .info {
        padding: 15px;
    }

    .information {
        padding-left: 30%;
    }
   
}
@media(max-width:1100px){
    .splash-title{
        font-size: 30px;
    }
   #impact-image img{
          width:100%;
   }
   body{
     background-color: whitesmoke;
   }
   #main,#header{
    width: 100%;
   }
  
   body{
    overflow-x: hidden;
   }
   #impact-button button{
         width: 30%;
         height: 5%;
   }
   #hr{
    margin-top: 100px;
   }
   #social-icon{
    padding: 0%;
    margin-left: 0%;
   }
   #footer{
    height: auto;
   }
   #footer-icon{
    width: 10%;
    height: 10%;
   }
   #icon-1, #icon-2, #icon-3{
    font-size: 10px;
    margin:0%;
   }
}
@media (max-width: 992px) {
    .information {
        padding-left: 5%;
    }
    
    .column1, .column2 {
        width: 100%;
        padding: 10px;
    }

    .button {
        flex-direction: column;
    }

    .icons i {
        font-size: 60px;
    }

    .icon-text {
        font-size: 16px;
    }

    .objective2 {
        flex-direction: column;
    }
    .button{
        display: flex;
        flex-direction: row;
        
    }
    #btn1{
        width:100%;
        padding: 4px;
    }
    .quote{
        padding: 8px;
    }
    .splash-title{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .splash-title{
        font-size: 30px;
    }
    #header {
        flex-direction: column;
        align-items: flex-start;
        
    }
    #join{
       display: inline-flex;
       width: 20%;
       height: 40%;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin-right: -50%;
     margin-top: 5%;
    }
    .information {
        padding-left: 0;
    }

    #box {
        width: 100%;
        text-align: center;
    }

    .info {
        padding: 10px;
        font-size: 14px;
    }
     #heading{
       margin-left: 5%;
        text-align: center;
     }
     #icon-text1,#icon-text2,#icon-text3{
        font-size: 10px;

     }
     .icons{
        display: block;
     }
     #icon123{
       display: flex;
       gap: 12%;
       margin-left:12%;
     }
     .fact{
        margin-top: 30%;
     }
     #icon1 i, #icon2 i, #icon3 i{
        font-size: 40px;
        
        
     }
     #hr{
        margin-top: -20px;
    }
    
    .button {
        width: 100%;
    }

    .button a {
        width: 100%;
        margin: 10px 0;
    }

    .quote {
        width: 90%;
        padding-left:8px;
    }

    .container, .paragraph, .objective2 {
        flex-direction: column;
    }

    .column1, .column2, .paragraph1, .paragraph2 {
        width: 100%;
    }
    .objective2{
        gap:15px;
    }
    .box1 {
        width: 100%;
        
    }

    #heading {
        width: 90%;
    }
    #impact-button button {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    #impact-head{
        font-size: 20px;
    }
    #impact-para{
        font-size: 14px;
    }
    .impact-icon{
        font-size: 30px;
    }
    .img-i-text , .img-i-text a,.img-i-text b{
        font-size: 20px;
    }
    .img-i-text b{
        font-weight: 100;
    }
    .contact-sign button{
          width: 100px;
          font-size: 12px;
          height: 40px;
    }
    
    .foot-content,#social-icon{
        font-size: 12px;
    }
   
    #image {
        width: 90%;
    }
    .head-text{
        font-size: 14px;
    }
    .button{
        display: flex;
        flex-direction: row;
        
    }
    #btn1,#btn2{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .splash-title{
        font-size: 24px;
    }
    #header{
        width:100%;
        position: fixed;
    }
    #image{
        width:100%;
        }
    .info {
        padding: 5px;
        font-size: 12px;
    }
    
    .icon-text{
        margin-left: -85px;
        
    }
    #icon-text1,#icon-text2,#icon-text3{
        font-size: 12px;
        display: flex;
    }
    #icon123{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(1,1fr);
       margin-left: -30px;
    }
    #goal1,#goal3{
        font-size:12px;
        padding: 2px;
        
    }
    
    #goal2{
        font-size:20px;
        
    }
    .impact-icon b{
        font-size: 5px;
    }
    .icon-text {
        font-size: 14px;
        padding-left: 5px;
    }
    .objective2{
        display: block;
       
        margin: auto;
        margin-top:-120px ;
    }
    .font1{
        font-size: 20px;
    }
    .font2{
        font-size: 10px;
    }
    .fact{
        margin-top: 350px;
    }
    #facts{
        font-size: 20px;
        padding-top: 13px;
    }
    #study1{
        font-size: 15px;
    }
    .headd{
        font-size: 20px;
    
    }
    .grid1{
        margin-left: -30px;
        margin-right: 45px;
    }

    .head-text{
        font-size: 15px;
        line-height: 15px;
    }
    #impact{
        display: block;
        height: 400px;
    }
    #context{
        width:100%;
        padding-top: 10px;
        
    }
    #impact-image{
        margin-top: -100px;
        width: 100%;
    }
    #bar{
        margin-top: 403px;
    }
    .foot{
       padding-right: 40px;
    }
    .foot1{
        margin-left: 2px;
        padding: 10px;
        
    }
    #response {
        overflow-wrap: break-word;
    }
    #social-icon{
       font-size: 20px;
    }
    .mid-line{
        display:none;
    }
    #hr{
        margin-top: -20px;
    }
    
    #footer-icon{
        margin-right: 20px;
        width: 300px;
        height: 60px;
    }
    #icon-1{
        margin-top: 4px;
        margin-left: -30px;
    }
    #icon-2{
        font-size: 20px;
    }
    #icon-3{
        margin-right: -20px;
    }
    #footer-content{
        font-size: 10px;
        margin-top: -16px;
    }
    .button{
        display: flex;
        flex-direction: row;
        
    }
    #btn1,#btn2{
        width: 100%;
    }

}